<!DOCTYPE html>
<html>
   <head>
      <!-- Global site tag (gtag.js) - Google Analytics added by libin -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107905104-3"></script>
      <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());

         gtag('config', 'UA-107905104-3');
      </script>
      <!-- Google Tag Manager added by libin-->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
         new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
         j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
         'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
         })(window,document,'script','dataLayer','GTM-KVPCCNV');
      </script>
      <!-- End Google Tag Manager -->
      <meta charset="utf-8">
      <!-- <meta name="description" content="Medinovita"> -->
      <!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <![endif]-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Below lines added by libin -->
      <link rel="canonical" href="https://www.medinovita.com/" />
      <link rel="shortlink" href="https://www.medinovita.com/" />
      <title>{{title}}</title>
      <meta NAME="description" CONTENT="{{{hospital_name}}} {{{hospitalcity}}} provides high quality and afforable treatments.Get hospital details,doctors details,treatment prices and book appointment at {{{hospital_name}}} through Medinovita">
      <meta NAME="keywords" CONTENT="{{{hospital_name}}},{{{hospitalcity}}}">
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:300,300i,400,400i,600,600i,700,800" rel="stylesheet">
      <!-- Added for glyphicons -->
      <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <!-- Added for glyphicons -->
      <link rel="stylesheet" href="/assets/css/plugins.min.css">
      <link rel="stylesheet" href="/assets/css/settings.css">
      <link rel="stylesheet" href="/assets/css/layers.css">
      <link rel="stylesheet" href="/assets/css/navigation.css">
      <link rel="stylesheet" href="/assets/css/style.css">
      <link rel="stylesheet" href="/assets/css/homepages/index-medical.css">
      <link rel="stylesheet" href="/assets/css/font-awesome/css/font-awesome.min.css">
      <link href = "//code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
      <!-- Favicon -->
      <link rel="icon" type="image/png" href="/assets/images/icons/favicon.png">
      <!-- Modernizr -->
      <script src="/assets/js/modernizr.js"></script>
      <!-- <script async src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js'></script>
         <script src='https://www.google.com/recaptcha/api.js'></script> -->
      <script src="/assets/js/plugins.min.js"></script>
      <!-- REVOLUTION JS FILES -->
      <!-- <script type="text/javascript" src="/assets/js/jquery.themepunch.tools.min.js"></script>
         <script type="text/javascript" src="/assets/js/jquery.themepunch.revolution.min.js"></script> -->
      <script src="/assets/js/jquery-ui.min.js"></script>
      <link rel="stylesheet" href="/assets/css/homepages/accordion.css">
      <!-- boot JS strap file -->
      <!-- main Js file -->
      <!-- <script type="text/javascript" src="/assets/js/jquery.validate.min.js"></script> -->
      <!-- SLIDER REVOLUTION 5.0 EXTENSIONS
         (Load Extensions only on Local File Systems !
         The following part can be removed on Server for On Demand Loading) -->
      <!-- script for expand and collapse-->
   </head>
   <body>
      <!-- Google Tag Manager (noscript) added by libin-->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KVPCCNV"
         height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
      <div id="wrapper">
         <div class="medinovitaHeader"></div>
         <div id="wrapper">
            <div class="contact">
               <div class="page-header larger larger-top  custom "style="background-image:url(//res.cloudinary.com/ddglp4e0g/image/upload/v1510441826/novita/header_oucn1m.jpg)">
                  <div class="container" style="padding-left:30px">
                     <h1>hospital details</h1>
                     <ol class="breadcrumb">
                        <li><a href="/index.html">Home</a></li>
						<li><a href="/hospitaldoctors.html">View Hospitals</a></li>
                        <li class="active">{{hospital_name}}</li>
                     </ol>
                  </div>
                  <!-- End .container -->
               </div>
                <div class="container" style="margin-top: 30px;">
                  <div class="row">
                     <div id="clinic-details" class="col-md-9 col-sm-9">
                        <section id="property-detail">
                           <div class="row" style="margin-bottom:20px;">
                              <div class="col-md-3">
                                 <a href="#" title="{{{hospital_name}}}">
                                 <img src="{{{hospitalimage}}}" class="img-thumbnail transperentboarder" alt="{{{hospital_name}}}" title="{{{hospital_name}}}">
                                 </a>
                              </div>
                              <div class="col-md-6" style="margin-top: 62px;">
                                 <h1 class="title custom">
                                    {{hospital_name}} {{hospitalcity}},{{hospitalcountry}}
                                 </h1>
                              </div>
                           </div>
                           <!-- </div> -->
                           <div class="ext-data">
                              <!--start of ext data-->
                              {{{hospital_gridFS_data}}}
                              <!--end of ext data-->
                           </div>
               <!--SECTION Procedures-->
               <section id="clinic-procedures" style="margin-bottom:20px">
                   <header>
                     <h2 style="border-bottom: 1px solid rgba(7,56,85,0.2) !important; padding-bottom:10px;">Procedures</h2>
                   </header>

                   <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">{{#department}} <!--array of department names-->
                     <div class="panel panel-custom">
                       <div class="panel-heading" role="tab" id="clinic-procedure-Filter-header">
                         <h4 class="panel-title">
                           <a data-toggle="collapse" href="#{{department}}" aria-expanded="true" aria-controls="{{department}}"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;{{{department}}}
                           </a>
                         </h4>
                       </div><!-- End .panel-heading -->
                        <div id="{{department}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="clinic-procedure-Filter-header">
                          <div class="panel-body">
                       {{#procedureList}} <!--array of procedure names-->
                                   <div class="row">
                                      <div class="col-md-6">
                                         <p><a href="/procedure/{{procedureDispName}}">{{procedureName}}</a></p>
                                      </div>
                                      <div class="col-md-6">
                                         <!--<button type = "button" class = "btn btn-primary">Starts from {{cost}}</button>-->
                                         <a href="#modal-container-SubmitEnquiry" data-toggle="modal"><button type = "button" class = "btn btn-primary">Get quote</button></a>
                                         {{! <button type = "button" class = "btn btn-primary">Contacts us for the best offer</button> }}
                                      </div>
                                   </div>

                     {{/procedureList}} <!--array of procedure names-->
                         </div>
                        </div>
                        {{/department}} <!--Array of department names-->
                   </div><!--end of panel-->
                 </div><!--end of panel-group-->
               </section>
                 <!-- END OF SECTION clinic-procedures-->
              </section> <!--end of property-detail section-->
           </div><!--end of clinical details div -->

     <!--start of sidebar div -->
           <div class="col-md-3 col-sm-3">
               <!--SECTION -->
               <!--MY EXPERIMENT main.js: 1840-->
  <div id="sticky-anchor"></div>
   <div id="sticky">
      <div class="contact-doc" style="margin-bottom:20px">
				<a data-toggle="modal" href="#modal-container-SubmitEnquiry"><button class="btn btn-success btn-rounded btn-lg" type="button">Contact Clinic</button></a>
			</div>
      	<div class="info">
				  <div class="accreditation"></div>
				  <div class="doc-info">
					  <h4>Top Doctors In {{hospital_name}}</h4>
					  <ul class="thumbs">
						{{#topdoctors}}
						<li>
							<a href="#"><img alt="doc" height="150" src="{{{profilepicdir}}}" width="170"> <span>{{doctorName}} - {{speciality}}</span></a>
						</li>
						{{/topdoctors}}
					  </ul>
			    </div>
		    </div>
    </div>



               <!--END OF MY EXPERIMENT -->
           </div><!--end of sidebar div -->

        </div><!--end of main row -->
     </div>

               <!-- End .container -->
               <!-- Template added by Libin -->
               <div class="mb60"></div>
               <!-- margin -->
            </div>
            <!-- End .main -->
         </div>
         <!-- End #wrapper -->
         <div class="medinovitaFooter"></div>
      </div>
      <!-- End #wrapper -->
      <div class="medinovitaModals"></div>
   </body>
   <script src="/assets/customjs/chat.js"></script>
   <script src="/assets/js/main.js"></script>
</html>
